PORT="3005"

# keep Neon credentials secure: do not expose them to client-side code
DATABASE_URL=''

# Better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3005"



# Github OAuth credentials
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# Google Generative AI API key
GOOGLE_GENERATIVE_AI_API_KEY=""
GOOGLE_MODEL="gemini-2.5-flash" # or something else



CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:3005"